#brand {
  background-image: linear-gradient(
    to right top,
    #051937,
    #103150,
    #1e4c6a,
    #306782,
    #468499
  );
  padding: 2vh !important;
}
#brand a {
  color: white !important;
}
#about-card {
  color: white !important;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  padding: 10vh !important;
}
#about-card:hover {
  opacity: 0.6;
  transition: ease-in 700ms !important;
  color: black !important;
  border-right: 20px solid white !important;
}
#design-card {
  background-image: linear-gradient(
    to right top,
    #051937,
    #412c5c,
    #843873,
    #c84775,
    #ff6666
  );
  color: white !important;
  padding: 10vh !important;
}
#design-card:hover {
  opacity: 0.6;
  transition: ease-in 700ms !important;
  color: black !important;
  border-bottom: 20px solid white !important;
}
#programming-card:hover {
  opacity: 0.6;
  transition: ease-in 700ms !important;
  color: black !important;
  border-top: 20px solid white !important;
}
#clients-card {
  color: white !important;
  background-image: linear-gradient(
    to left top,
    #051937,
    #2f354e,
    #535466,
    #76757f,
    #999999
  );
}
#clients-card ul {
  text-decoration: none !important;
  list-style-type: none !important;
}
#programming-card {
  color: white !important;
  background-image: linear-gradient(
    to left bottom,
    #000000,
    #532e2d,
    #a16041,
    #dfa449,
    #fef65b
  );
  padding: 10vh !important;
}
