
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

#section-1 {
    padding-top: 10px;
}

h4 {
    font-weight: bold;
}
@keyframes bounce {
    from { transform: translate3d(0, -8px, 0);     }
    to   { transform: translate3d(0, 0, 0); }
  }
.fas:hover {
    /* ... */
    
    animation: bounce 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
  }