@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
nav {
    margin: 0;
    padding: 0;
    
}
.navbar-brand {
    font-family: 'Kaushan Script', cursive;
    font-weight: bold;
}
.nav-link:hover {
    border-bottom: 1px solid gray;
    color: #333333;
}
.navbar .navbar-collapse {
    text-align: center;
  }

